.homepage {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 20px;
}

.activities-container {
  padding: 50px;
}

.activity-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.pink {
  color: magenta;
}

.blog-container {
  width: 90%;
  background-color: lightcyan;
  margin-left: 3%;
  border-radius: 10px;
  padding: 20px;
}

.blog {
  margin: 20px;
  padding: 20px;
  background-color: rgb(248, 248, 231);
}


/* for mobile   */
@media screen and (max-width:688px) {
  .homepage {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  .activities-container {
    padding: 20px;
  }
  .activity-container {
    display: flex;
    flex-direction: column;  
  }

}

/* for tablet */
@media screen and (min-width: 689px) and (max-width:992px) {
  .homepage {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  .activity-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

}