.homepage {
  display: grid;
  grid-template-columns: 3fr 1fr;
  margin: 20px;
}

.activities-container {
  padding: 50px;
}

.headline img{
  width: 5%;
}
.activity-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.pink {
  color: magenta;
}



/* for mobile   */
@media screen and (max-width:688px) {
  .homepage {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }
  .activities-container {
    padding: 20px;
  }
  .activity-container {
    display: flex;
    flex-direction: column;  
  }

}

/* for tablet */
@media screen and (min-width: 689px) and (max-width:992px) {
  .homepage {
    display: flex;
    flex-direction: column;
    margin: 20px;
  }

  .activity-container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 30px;
  }

}