.person-container{
    position: sticky;
    top: 0;
    padding: 0px 20px;
}
.person{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    
}.person img{
    background: lightblue;
    border-radius: 50%;
    width: 50px;
    height: 50px;
margin-right: 10px;
}
.person small{
    font-weight: 400;
}
.person-info{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: azure;
    margin-top: 20px;
    border-radius: 10px;
}

/* break-container styles */
.break-time{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: azure;
    border-radius: 10px;
}
.break-time h5{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background: lightblue;
    border-radius: 50%;
    width: 50px;
    height: 50px; 
}
.break-time h5:hover{
    background-color: bisque;
}

.exercise-container{
    margin-top: 50px;   
}
.exercise{
    background-color: rgb(251, 212, 218);
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-bottom: 15px;
}
.btn-completed{
    width: 100%;
    background: lightcoral;
    font-weight: 600;
    padding: 15px;
    border: 1px solid gray;
    border-radius: 8px;
    margin: 50px 0px;
}
.btn-completed:hover{
    background-color: orangered;
}